/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* terminal colour scheme */

body {
  background-color: #0c0c0c;
  color: #00ff00;
  font-family: "Courier New", Courier;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}

/* terminal container */

.terminal {
  max-width: 900px;
  margin: 0;
  padding: 20px;
  /* background-color: #1a1a1a; */
  border: 2px solid #00ff00;
  /* box-shadow: 0 0 20px rgba(0, 255, 0, 0.3); */
}
